repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-ast
          - id: check-json
          - id: check-merge-conflict
          - id: detect-private-key

    - repo: https://github.com/psf/black
      rev: 24.3.0
      hooks:
          - id: black
            args: [--line-length=100]

    - repo: https://github.com/pycqa/isort
      rev: 5.13.2
      hooks:
          - id: isort
            args: ["--profile", "black", "--filter-files"]

    - repo: https://github.com/pycqa/flake8
      rev: 7.0.0
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-docstrings==1.7.0
                - flake8-bugbear==24.2.6
                - flake8-comprehensions==3.14.0
            args:
                [
                    "--max-line-length=100",
                    "--exclude=.git,__pycache__,build,dist",
                    "--ignore=E203,W503,D100,D104",
                ]

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.9.0
      hooks:
          - id: mypy
            args: [--config-file=pyproject.toml]
            additional_dependencies:
                - types-requests
                - types-setuptools

    - repo: https://github.com/pycqa/bandit
      rev: 1.7.7
      hooks:
          - id: bandit
            args: ["-c", "pyproject.toml"]
            additional_dependencies: ["bandit[toml]"]
